{% extends "base.html.twig" %}


{% block title %}
    Profile
{% endblock %}

{% block body %}
{% if app.user %}
    <div class="container w-50">
        <h1 class="text-center text-info">Profile</h1> 
    <h2>Changer de mot de passe</h2>
    {{form_start(form)}}
        {{form(form)}}
    {{form_end(form)}}
    </div>
    {% else %}
        <div class="alert alert-danger">
            <h3>Vous devez etre connecter pour acceder a cette page</h3>
        </div>
{% endif %}


{% endblock %}