{% extends "base.html.twig" %}

{% block body %}
<div class="alert alert-success mt-5 w-50 mx-auto">
    <h2>Cette page est introuvable !</h2>
    <em>Erreur 404</em>
    <div>
        <a href="{{path('app_produits')}}" class="btn btn-warning mt-3">Retour a la page d'accueil</a>
    </div>
</div>
{% endblock %}