<h1>Bonjour ! </h1>

<p>
    Merci de valider votre compte a l'aide du lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Valider mon compte</a>.
    Ce lien expire dans : {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement :
</p>